header {
    color: rgb(3, 230, 116);
    font-family: "Jersey 15", serif;
    padding: 20px;
    background-image: url("../resources/cheatsheet.jpg");
    background-position-y: 275px;
}

.cheatsheet-header {
    font-size: 65px;
    font-weight: 300;
}

.nav-link {
    font-size: 30px;
}

.nav-link:visited {
    color: rgb(0, 221, 255);
}

.nav-link:hover {
    color: rgb(225, 255, 114)
}

.longcodepic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jersey 15', serif;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(225, 255, 114);
}

section {
    background-color: rgb(0, 0, 0);
    color: rgb(225, 255, 114);
    padding: 20px;
}

.box-style > a:visited {
    color:rgb(63, 201, 22);
}

.box-style > a:hover {
    color: rgb(225, 255, 114)
}


.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.start {
    display: inline;
    color: rgb(63, 201, 22);
}

.box-style {
    display: flex;
    margin: 10px;
    width: auto;
    background-color: grey;
    min-height: 75px;
    min-width: 20px;
    flex-grow: 1;
    padding: 25px;
    font-size: 25px;
    max-width: 20%;
}

.box-style > a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 0px;
}

li {
    display: inline-block;
    margin-right: 20px;
    color: white;
}

a:hover {
    color:blue;
}

a:link {
    color:white;
}

.css-readmore {
    font-style: italic;
}

.html-readmore {
    font-style: italic;
}

.about-readmore {
    font-style: italic;
}

footer {
    background-color: black;
    padding: 10px 20px;
}

.hyper {
    color:lime;
    font-size: 35px;
    font-weight: 300;
}

.casc {
    color:blue;
    font-size: 35px;
    font-weight: 400;
}

.about-title {
    color:blueviolet;
    font-size: 35px;
    font-weight: 300;
}

.html-pic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.css-pic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-pic {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    display: flex;
    justify-content: center;
}

.github {
    display: inline-block;
    margin-right: 1px;
}

.html-tags-list  {
    display: flex;
    flex-direction: column;
}

ol {
    list-style: none;
    counter-reset: list-counter;
}

ol li {
    counter-increment: list-counter;
    margin: .25rem;
}

ol li::before {
    /* content: counter(list-counter); */
    content: "•"; 
    color: yellow;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    margin-right: 0.5rem;
}

.headpic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titlepic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bodypic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div-example {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.div-site-ex {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-example {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.list-site-ex {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.anchorex1 {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.anchorex2 {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.anchorsite1 {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.anchorsite2 {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.anchorsite3 {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.anchorsite4 {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

summary {
    font-size: 1.5em;
    color: rgb(63, 201, 22);
}

.video-video {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.video-pic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.emstrong-code {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

.emstrong-ex {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
}

table, th, td {
    border: solid yellow 1px;
    border-collapse: collapse;
}

table {
    width: 100%;
}

.tablepic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem; 
}

.theadpic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem; 
}

.thpic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem; 
}

.tbodypic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem; 
}

.trpic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem; 
}

.tdpic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem; 
}

.doctype-dec-pic {
    max-width: 832px;
    max-height: 448px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem; 
}

summary {
    margin-left: 5%;
    /* padding-bottom: 1%; */
}

details > p {
    margin-left: 10%;
}

details {
    padding-bottom: 2%;
}